meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(http-equiv="Content-Language" content="pl")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="author" content="Mateusz Harnik")
meta(name="description" content="Chcesz dowiedzieć się kim jestem? Chcesz się ze mną skontaktować lub zobaczyć jakie posiadam umiejętności? Na tej stronie znajdziesz wszystkie interesujące Cię informacje.")
meta(name="keywords" content="Mateusz Harnik, front-end developer, developer, junior developer, programista, kielce, web developer, strony internetowe")

meta(itemprop="name" content="Mateusz Harnik - junior front-end developer")
meta(itemprop="description" content="Mateusz Harnik - Strona internetowa")
meta(itemprop="image" content="https://mateuszharnik.now.sh/img/favicon-96x96.png")

meta(property="og:type" content="website")
meta(property="og:title" content="Mateusz Harnik - junior front-end developer")
meta(property="og:description" content="Chcesz dowiedzieć się kim jestem? Chcesz się ze mną skontaktować lub zobaczyć jakie posiadam umiejętności? Na tej stronie znajdziesz wszystkie interesujące Cię informacje.")
meta(property="og:image" content="https://mateuszharnik.now.sh/img/preview.png")
meta(property="og:url" content="https://mateuszharnik.now.sh")

meta(name="twitter:card" content="summary")
meta(name="twitter:creator" content="@mateuszharnik")
meta(name="twitter:title" content="Mateusz Harnik - junior front-end developer")
meta(name="twitter:description" content="Chcesz dowiedzieć się kim jestem? Chcesz się ze mną skontaktować lub zobaczyć jakie posiadam umiejętności? Na tej stronie znajdziesz wszystkie interesujące Cię informacje.")
meta(name="twitter:image" content="https://mateuszharnik.now.sh/img/favicon-96x96.png")

meta(name="theme-color" content="#ffffff")
