article.pt-5
  .container
    .row
      .col-12.col-lg-6(data-aos="fade-right" data-aos-duration="1000" data-aos-offset="90")
        header.mb-3
          h3#o-mnie.font-weight-bold O mnie
      
        p.mb-5.mb-lg-0(itemscope itemtype="https://schema.org/Person")
          | Nazywam się 
          span(itemprop="name") Mateusz Harnik 
          | i mieszkam w 
          span(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress") 
            span(itemprop="addressLocality") Kielcach. 
          | Ukończyłem technikum informatyczne z tytułem technika informatyka. Posiadam również licencjat z logistyki. Obecnie jestem na studiach magisterskich na kierunku zarządzanie. Moją pasją jest tworzenie stron i aplikacji internetowych, na którą poświęcam większość wolnego czasu. Jeżeli nie tworzę stron, wtedy rozwiązuję sobie zadania na 
          a(href="https://www.codewars.com/users/mateuszharnik" title="Przejdź na stronę Codewars") tej stronie
          | . Interesuję się również survivalem co jest związanę z tym, że bardzo lubię spędzać czas w lesie.
      
      .col-12.col-lg-5.offset-lg-1.justify-content-lg-around.align-items-lg-center.d-lg-flex(data-aos="fade-left" data-aos-duration="1000" data-aos-offset="90")
        <!-- Title: Into the night, Author: Katerina Limpitsouni, Source: https://undraw.co/, License: https://undraw.co/license -->
        img.illustration.mx-auto(src="img/undraw_into_the_night_vumi.svg", alt="Mężczyzna siedzący przy ognisku w lesie nocą")
