article.article-contact.bg-dark.text-white
  .container
    .row
      .col-12.text-center.col-lg-10.offset-lg-1
        header.mt-4
          h3#kontakt.contact-title Kontakt

        p.mb-5
          | Jeżeli chcesz się ze mną skontaktować napisz do mnie na maila. Poniżej znajdziesz linki do moich social media. 

      .col-12
        //- include ../components/form.pug
        include ../components/socialMediaList.pug
