article.py-5.pt-lg-6
  .container
    .row
      .col-12.col-lg-6(data-aos="fade-right" data-aos-duration="1000" data-aos-offset="90")
        header.mb-3
          h3#portfolio.font-weight-bold Portfolio
        
        p.mb-5.mb-lg-0
          | Jeżeli ciekawi Cię jakie projekty wykonałem możesz zajrzeć na mojego 
          a(href="https://github.com/mateuszharnik" title="Przejdź na stronę Github") Githuba
          |. Oczywiście nie ma tam wszystkich projektów, ponieważ nie chcę tam wrzucać wszystkiego co popadnie. Znajdziesz tam natomiast projekty które uważam za ciekawe oraz które pokazują moją wiedzę z zakresu front-endu. 
    
      .col-12.col-lg-5.offset-lg-1.justify-content-lg-around.align-items-lg-center.d-lg-flex(data-aos="fade-left" data-aos-duration="1000" data-aos-offset="90")
        <!-- Title: Version control, Author: Katerina Limpitsouni, Source: https://undraw.co/, License: https://undraw.co/license -->
        img.illustration.mx-auto(src="img/undraw_version_control_9bpv.svg", alt="Osoba siedząca z laptopem na kolanach")
