article.article-welcome.pt-4.pt-lg-5
  .container
    .row
      .col-12.text-center(data-aos="fade" data-aos-delay="1000" data-aos-duration="1000")
        header.mb-3
          h2.font-weight-bold.welcome-title
            | Mateusz Harnik 
            span.d-none - Junior Front-end developer z Kielc
            
        p.lead.mx-auto.mb-5
          | Witam na mojej stronie. Jeżeli chcesz dowiedzieć się czegoś o mnie lub chcesz się ze mną skontaktować to wiedz, że jest to odpowiednie miejsce.

      .col-12
        <!-- Title: Personal site, Author: Katerina Limpitsouni, Source: https://undraw.co/, License: https://undraw.co/license --> 
        img.illustration.illustration--welcome.mx-auto(src="img/undraw_personal_site_xyd1.svg", alt="Mężczyzna stojący obok okna przeglądarki internetowej" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200")

      .col-12.mt-4
        a.arrow-btn(href="#o-mnie" title="Przewiń w dół" data-aos="zoom-in" data-aos-delay="1000" data-aos-offset="0" data-aos-duration="1000")
          span.d-none Przewiń w dół
